<div class="container-fluid">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="circle"><i class="fa fa-2x fa-home"></i></div>
                </div>
                <div class="col-md-8">
                    <a href="" class="names">HOME</a>
                </div>
            </div>
        </div><br><br><br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="circle"><i class="fa fa-2x fa-play-circle"></i></div>
                </div>
                <div class="col-md-8">
                    <a href="" class="names">WATCH</a>
                </div>
            </div>
        </div><br><br><br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="circle"><i class="fa fa-2x fa-dashboard"></i></div>
                </div>
                <div class="col-md-8">
                    <a href="" class="names">MARKETPLACE</a>
                </div>
            </div>
        </div><br><br><br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="circle"><i class="fa fa-2x fa-users"></i></div>
                </div>
                <div class="col-md-8">
                    <a href="" class="names">GROUPS</a>
                </div>
            </div>
        </div><br><br><br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="circle"><i class="fa fa-2x fa-th"></i></div>
                </div>
                <div class="col-md-8">
                    <a href="" class="names">PLAY</a>
                </div>
            </div>
        </div><br><br><br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="circle"><i class="fa fa-2x fa-user-circle-o"></i></div>
                </div>
                <div class="col-md-8">
                    <a href="" class="names">USER</a>
                </div>
            </div>
        </div><br><br><br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="circle"><i class="fa fa-2x fa-address-book"></i></div>
                </div>
                <div class="col-md-8">
                    <a href="" class="names">CONTACTS</a>
                </div>
            </div>
        </div><br>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-xs-12" id="meetupcomponents" data-aos="flip-left"
                data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <div class="panel panel-info" id="panelradius">
                    <div class="panel-heading">
                        <p class="text-center meetupcity">London<br>UK</p>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">01</h2>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <hr>
                        </div>
                        <div class="col-md-4"></div>
                        <h4 class="text-center meetupmonth">November 2019</h4>
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <hr>
                        </div>
                        <div class="col-md-2"></div><br><br>
                        <h4 class="text-center meetupcity1">Church Street</h4><br>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12" id="meetupcomponents" data-aos="flip-left"
                data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <div class="panel panel-info" id="panelradius">
                    <div class="panel-heading" id="panelcolor">
                        <p class="text-center meetupcity" style="color: white;">Paris<br>France</p>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">21</h2>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <hr>
                        </div>
                        <div class="col-md-4"></div>
                        <h4 class="text-center meetupmonth">December 2019</h4>
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <hr>
                        </div>
                        <div class="col-md-2"></div><br><br>
                        <h4 class="text-center meetupcity1">Southbank</h4><br>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12" id="meetupcomponents" data-aos="flip-left"
                data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <div class="panel panel-info" id="panelradius">
                    <div class="panel-heading">
                        <p class="text-center meetupcity">Nyon<br>Switzerland</p>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">01</h2>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <hr>
                        </div>
                        <div class="col-md-4"></div>
                        <h4 class="text-center meetupmonth">February 2020</h4>
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <hr>
                        </div>
                        <div class="col-md-2"></div><br><br>
                        <h4 class="text-center meetupcity1">Theatre De Marens</h4><br>
                        <div class="text-center">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12" id="meetupcomponents" data-aos="flip-left"
                data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <div class="panel panel-info" id="panelradius">
                    <div class="panel-heading">
                        <p class="text-center meetupcity">Zurich<br>Switzerland</p>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">15</h2>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <hr>
                        </div>
                        <div class="col-md-4"></div>
                        <h4 class="text-center meetupmonth">February 2019</h4>
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <hr>
                        </div>
                        <div class="col-md-2"></div><br><br>
                        <h4 class="text-center meetupcity1">Halle622 House</h4><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="bottom_div">
                    <input type="text" placeholder="What's on your mind, John?" id="input_text">
                    <hr>
                    <div class="row">
                        <div class="col-md-4"><i class="fa fa-2x fa-play-circle"></i>&nbsp;&nbsp;Live Video</div>
                        <div class="col-md-4"><i class="fa fa-2x fa-address-book"></i>&nbsp;&nbsp;Photo/Video</div>
                        <div class="col-md-4"><i class="fa fa-2x fa-dashboard"></i>&nbsp;&nbsp;Activity</div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div class="col-md-3 rt_color">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Active Friends</h3>
                <hr>
                <div class="col-md-4">
                    <div class="circle"><i class="fa fa-2x fa-user-circle-o"></i></div>
                </div>
                <div class="col-md-8">
                    <a href="" class="names">Natasha</a>
                </div>
            </div>
        </div><br><br><br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="circle"><i class="fa fa-2x fa-user-circle-o"></i></div>
                </div>
                <div class="col-md-8">
                    <a href="" class="names">Harigopal</a>
                </div>
            </div>
        </div><br><br><br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="circle"><i class="fa fa-2x fa-user-circle-o"></i></div>
                </div>
                <div class="col-md-8">
                    <a href="" class="names">Deenu More</a>
                </div>
            </div>
        </div><br><br><br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="circle"><i class="fa fa-2x fa-user-circle-o"></i></div>
                </div>
                <div class="col-md-8">
                    <a href="" class="names">Sanchita</a>
                </div>
            </div>
        </div><br><br><br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="circle"><i class="fa fa-2x fa-user-circle-o"></i></div>
                </div>
                <div class="col-md-8">
                    <a href="" class="names">Gargi</a>
                </div>
            </div>
        </div><br><br><br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="circle"><i class="fa fa-2x fa-user-circle-o"></i></div>
                </div>
                <div class="col-md-8">
                    <a href="" class="names">Robert</a>
                </div>
            </div>
        </div>
    </div>
</div>